.task {
  padding: 12px;
  border-radius: 12px;
  background: #f6faff;
  box-shadow: 0px 2px 8px 0px rgba(106, 108, 224, 0.26);
  margin-bottom: 12px;
}

.taskTitle {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.taskTitle h2 {
  color: #30507d;
  font-family: poppinsMedium;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.taskTitle img {
  cursor: pointer;
}

.taskInfo {
  display: inline-flex;
  height: 54px;
  padding: 12px 0px 12px 12px;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  background: #e8f1fd;
  box-shadow: 1px 1px 4px 0px rgba(48, 80, 125, 0.25) inset;
  margin-bottom: 23px;
  width: 100%;
}

.taskInfo p {
  color: #6c86a8;
  font-family: poppinsSemiBold;
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
}

.taskMenu {
  display: flex;
  justify-content: space-between;
}
.menuItems {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.menuItems img {
  cursor: pointer;
}
.successItem {
  display: flex;
  column-gap: 4px;
  align-items: center;
}
.successItem p {
  color: #6c86a8;
  font-family: poppinsMedium;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
}

.rotateArrow {
  transform: rotate(180deg);
}

.historyTaskhidden {
  display: none;
}

.historyStatusChange {
  display: none;
}

.historyStatusChange img {
  position: absolute;
}
.titleSection {
  display: flex;
  column-gap: 7px;
}

@media only screen and (min-width: 768px) {
  .task {
    width: 23%;
  }

  .shorted {
    height: 92px;
  }
}
