.App {
  padding: 8% 5.35%;
  background: #e8f1fd;
}

.App-header {
  margin-bottom: 16px;
}

@media only screen and (max-width: 768px) {
  #root {
    background: #e8f1fd;
    border-radius: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .App {
    height: 100%;
  }
}
